# Created by .ignore support plugin (hsz.mobi)
3.json
allNamedEntities.txt
allNamedEntitiesTransformations.txt
allNamedEntitiesTransformations_small.txt
allNerTyps.txt
bdperson-test.avro
coOccurrences.avro
coOccurrences.txt
coOccurrences_old.txt
cosOfAngleMatrix.txt
cosOfAngleMatrix_sample.rtf
cosOfAngleMatrix_w5_p100_noNum_noSign.txt
cosOfAngleMatrix_w7_p50_Num_noSign.txt
cosOfAngleMatrix_w7_p50_Num_noSign_sample.rtf
target/
